.manageoptions {
    display: flex;
    margin-top: 5rem;
}

.adminManageContainer {
    margin-left: 20%;
    margin-right: 20%;
}

.manageOptionItems {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: white;
    border-color: #DFE5E8FF;
    height: 3.5rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.manageOptionItems:hover {
    background-color: #00bcd4;
    color: white;
}

.accountcontainer {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
}

.manageButtons {
    margin-top: auto;
    margin-bottom: auto;
}

.AdminManageButtons {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: white;
    border-color: #DFE5E8FF;
    height: 3rem;
    width: 5rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    flex-direction: row;
}

.AdminManageButtons:hover {
    background-color: #00bcd4;
    color: white;
}

.showAllProdButton {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: white;
    border-color: #DFE5E8FF;
    height: 2rem;
    width: 10rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    flex-direction: row;
}

.showAllProdButton:hover {
    background-color: #00bcd4;
    color: white;
}

.manageOrdersflex {
    display: flex;
}