.hero1 {
    margin-left: 15%;
    margin-right: 15%;
    height: 30px;
}

.picbig {
    width: 90%;
    border: 1px solid black;
}

.picsmall {
    width: 4rem;
}

.picsmall_left1 {
    width: 60%;
    margin-bottom: 2px;
}

.picsmall_left1.active {
    border: 1px solid black;
}

.picsmall1:hover {
    border: 1px solid black;
}

.card1 {
    margin-left: 15%;
    margin-right: 15%;
    border: none;
}

.piccontainer {
    display: flex;
    align-content: flex-start
}

.smallpicscontainer {
    border-left: 1px solid black;
}

.bigpiccontainer {
    display: flex;
}

.textbelowbigpic {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.item1 {
    width: 10%;
}

.item2 {
    width: 45%;
}

.item3 {
    width: 45%;
    border-right: 1px solid black;
}

.buysection {}

.checked {
    color: orange;
}

.titlecontainer {
    display: flex;
    justify-content: space-between;
}

.sizecontainer {
    display: flex;
    justify-content: left;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sizes:hover {
    background-color: lightgray;
}

.buybutton {
    background-color: rgb(0, 117, 59);
    padding: 3%;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 3%;
    width: 100%;
    border-radius: 3px;
}

.buybutton:hover {
    background-color: royalblue;
}

.colorcontainer {
    display: flex;
    flex-wrap: wrap;
}

.colors {
    padding: 2rem;
    margin-right: 1%;
}

.colors:hover {
    background-color: black;
}

.sizes {
    width: 60px;
    height: 60px;
    position: relative;
    padding-top: 4%;
    font-size: 15px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 3px;
}

.style1 {
    width: 60px;
    height: 60px;
    position: relative;
    padding-top: 4%;
    font-size: 15px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
}

.sizehelper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.sizehelpcontainer {
    display: none;
    border: 1px solid black;
    margin-bottom: 3%;
    border-radius: 3px;
}

.infocontainer {
    display: flex;
    justify-content: space-around;
}

.infoborder {
    border-bottom: 1px solid black;
    width: 35%;
}

.textborder {
    width: 50%;
    padding: 2%;
    border-left: 1px solid;
    border-right: 1px solid;
}

.reviewcard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-top: 1.5%;
    padding-bottom: 1.5%;
}

.reviewcontainer {
    margin-top: 5%;
    border-top: 1px solid black;
}

.review1 {
    flex-basis: 20%;
}

.review2 {
    flex-basis: 60%;
    text-align: center;
}

.review3 {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.reviewbutton {
    width: 20%;
    height: 3rem;
}

.reviewform {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.reviewstars {
    display: flex;
    justify-content: center;
}

.starscontainer {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.starsizer {
    font-size: 50px;
}

.arrow_right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    width: 15px;
    height: 15px;
}

.arrow_left {
    border: solid black;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 7px;
    width: 15px;
    height: 10px;
}

.right1:hover {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    width: 15px;
    height: 15px;
}

.right1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arr {
    margin-top: 7px;
}

.editreviewbutton {
    width: 7rem;
    height: 70%;
    margin-left: 10px;
    border-radius: 6px;
}

.loginpopup {
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: red;
    font-weight: bold;
    display: none;
}

.add-cart-buttons {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: green;
    border-color: #DFE5E8FF;
    width: 85%;
    height: 3.5rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.add-cart-buttons:hover {
    background-color: #00bcd4;
    color: white;
}

.review_button {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: #DFE5E8FF;
    border-color: #DFE5E8FF;
    width: 30%;
    height: 3.5rem;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 0;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    margin-left: auto;
    text-align: center;
}

.review_button:hover {
    background-color: #00bcd4;
    color: white;
}

.review_edit_button {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: green;
    border-color: #DFE5E8FF;
    width: 30%;
    height: 3.5rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 0;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    margin-left: auto;
    text-align: center;
}

.review_edit_button:hover {
    background-color: #00bcd4;
    color: white;
}

.review_delete_button {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    color: black;
    background-color: red;
    border-color: #DFE5E8FF;
    width: 30%;
    height: 3.5rem;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    margin: 4px 0 0;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    padding: 5px 15px 6px;
    margin-left: auto;
    text-align: center;
}

.review_delete_button:hover {
    background-color: #00bcd4;
    color: white;
}

.titlecontainer h4 {
    padding-top: 5px;
}