.hero {
    width: 100%;
    height: 100px;
    background-color: red;
   
}

.picbig{
    width: 100%;
    height: 100%;
    
}
.picsmall{
    width: 100%;
    padding: 2rem;
}
.card{
    background-color: red;
    margin-left: 15%;
    margin-right: 15%;
    
    
}
.piccontainer{
    display: flex;
    

}
.smallpicscontainer{
    display: flex;
    flex-direction: column;
}
.bigpiccontainer{
    display: flex;
    flex-direction: column;
    padding : 2rem;
    
    
}
.textbelowbigpic{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.item1{
background-color: blue;
flex-basis: 10%;
}
.item2{
    background-color: purple;
    flex-basis: 40%;
}
.item3{
    flex-basis: 50%;
    background-color: green;
}
.buysection{
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    
}
.checked {
    color: orange;
  }
  .titlecontainer{
      display: flex;
      justify-content: space-between;
  }
.sizecontainer{
    display: flex;
    justify-content: space-between;
    
}
.sizes{
    padding: 7.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    
    
    background-color: rebeccapurple;
}
.sizes:hover{
    background-color: red;
}
.buybutton{
    background-color: purple;
    padding: 3%;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 3%;
    width: 100%;

}
.buybutton:hover{
    background-color: royalblue;
}