@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
html,
body {
    height: 100%;
    width: 100%!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
}

input {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.centered-hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.centered-hero-text .hero-small {
    font-size: 14px;
    margin: 0;
}

.centered-hero-text .hero-big {
    font-size: 40px;
    margin: 0;
}

.rounded-corner {
    border-radius: 5px;
}

.centered-hero-text .hero-bigger {
    font-size: 72px;
    width: 100%;
    margin: 0;
}

.centered-hero-text input {
    width: 50%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 0;
    border-radius: 3px;
}

.centered-hero-text button {
    margin-top: 12px;
    width: 50%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #2b2636;
}

.sub-hero {
    position: relative;
}

.sub-hero-gray {
    background-color: silver;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: -1;
}

.sub-hero-gray-flex {
    display: flex;
    width: 100%;
}

.sub-hero-img {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 30%;
}

.sub-hero-text {
    align-items: right;
    justify-content: center;
    width: 70%;
}

.sub-hero-inner-text {
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}

.centered-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/girl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.campaign-1 {
    display: flex;
    align-items: top;
    width: 100%;
}

.campaign-1-inner {
    width: 50%;
}

.campaign-1-inner-top {
    height: 50%;
    width: 100%;
    background-color: rgb(184, 179, 212);
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url("../images/brace.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
}

.price p {
    margin: 0;
}

.price span {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.campaign-1-inner-bottom {
    height: 50%;
    width: 100%;
    display: flex;
}

.campaign-1-inner-bottom-inner {
    height: 100%;
    width: 50%;
}

.inner1 {
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url("../images/sunglasses.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
}

.inner2 {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url("../images/fedora.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
}

.uggla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.edsbyn img {
    width: 100%;
}

.special-offers {
    text-align: center;
}

.special-offers h1 {
    font-size: 72px;
    color: #333b4d;
}

.special-offers h3 {
    font-size: 24px;
    color: #436fdf;
    font-weight: 200;
}

.partners {
    width: 100%;
    height: 200px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    background-color: rgb(243, 243, 243);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

footer .left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

footer .center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

footer span {
    padding-right: 10px;
    padding-left: 10px;
}