@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
html,
body {
    height: 100%;
    width: 100%!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.hero img {
    transform: scale(1);
    transition: all 4s ease;
    vertical-align: middle;
}

.hero img:hover {
    transform: scale(1.05);
}

.discount-lorum {
    font-family: 'Montserrat';
    letter-spacing: 7px;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
}

.discount-signup-text {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}

.centered-hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.centered-hero-text .hero-small {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}

.centered-hero-text .hero-big {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
}

.rounded-corner {
    border-radius: 5px;
}

.centered-hero-text .hero-bigger {
    font-size: 72px;
    width: 100%;
    margin: 0;
}

.centered-hero-text input {
    width: 50%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    font-weight: 400;
}

.centered-hero-text button {
    margin-top: 12px;
    width: 50%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    border: 0;
    border-radius: 3px;
    background-color: #2b2636;
    color: white;
}

.sub-hero {
    position: relative;
}

.sub-hero-gray {
    background-color: #f4f5f7 !important;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: -1;
}

.sub-hero-gray-flex {
    display: flex;
    width: 100%;
}

.sub-hero-img {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 30%;
}

.sub-hero-text {
    align-items: right;
    justify-content: center;
    width: 70%;
}

.sub-hero-inner-text {
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}

.sub-hero-new {
    font-style: normal;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: 'Montserrat';
    letter-spacing: 7px;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    color: #00bcd4;
    margin-top: 50px;
}

.sub-hero-new-title {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 60px;
    color: #3c3950;
    margin-top: 30px;
}

.sub-hero-inner-text h1 {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: none;
    letter-spacing: 0;
    box-sizing: border-box;
    margin-bottom: 0;
    color: #3c3950;
}

.sub-hero-inner-text p {
    color: #5f727f;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 37px;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}

.centered-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/girl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.campaign-1 {
    display: flex;
    align-items: top;
    width: 100%;
}

.campaign-1-inner-top a {
    text-decoration: none;
    color: rgb(33, 34, 39);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.campaign-1-inner-bottom a {
    text-decoration: none;
    color: rgb(33, 34, 39);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.campaign-1 p {
    padding-left: 10px;
    width: 100%;
}

.campaign-1-inner {
    width: 50%;
}

.campaign-1-inner-top {
    height: 50%;
    width: 100%;
    background-color: #e1e4eb;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.campaign-text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 0px;
}

.campaign-bg {
    position: absolute;
    overflow: hidden;
    margin: 0;
}

.campaign-bg-bracelet {
    background-image: url("../images/brace.png");
    transform: scale(0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s;
}

.campaign-bg-fedora {
    background-image: url("../images/fedora.png");
    transform: scale(1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s;
}

.campaign-bg-sunglass {
    background-image: url("../images/sunglasses.png");
    transform: scale(1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s;
}

.campaign-1-inner-top:hover .zoom {
    transform: scale(0.9);
}

.inner1:hover .zoom {
    transform: scale(1.1);
}

.inner2:hover .zoom {
    transform: scale(1.1);
}

.price p {
    margin: 0;
}

.price span {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.campaign-1-inner-top .price span {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.campaign-1-inner-bottom {
    height: 50%;
    width: 100%;
    display: flex;
}

.campaign-1-inner-bottom-inner {
    height: 100%;
    width: 50%;
}

.inner1 {
    background-color: #f6f7f9;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.inner2 {
    background-color: #ecedf2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.uggla {
    background-color: #ecedf0;
    position: relative;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.uggla img {
    transform: scale(1);
    transition: all 10s ease;
    vertical-align: middle;
}

.campaign-1:hover .uggla img {
    transform: scale(1.3);
}

.edsbyn img {
    width: 100%;
}

.special-offers {
    text-align: center;
}

.special-offers h1 {
    font-size: 72px;
    color: #333b4d;
}

.special-offers h3 {
    font-size: 24px;
    color: #436fdf;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.pagination-holder {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.pagination-obj {
    cursor: pointer;
    padding: 5px;
    color: rgb(164 168 199);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    padding-right: 7px;
    padding-left: 7px;
}

.pagination-obj:hover {
    color: rgb(129, 133, 165);
    background-color: rgba(105, 156, 207, 0.247);
}

.pagination-obj.active {
    background-color: rgb(49 148 247);
    color: white;
}